A:link
{color: blue;
text-decoration: underline}

A:visited
{color: purple;
text-decoration: underline}

A:active
{color: red;
text-decoration: underline}

A:hover
{color: fuchsia;
text-decoration: underline}

A.Footnote
{vertical-align: super}

BODY, TH, TR, TD, DIV
{background-color: white;
color: black;
font-family: Garamond, Palatino, "Times New Roman", serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
text-decoration: none}

TH
{font-weight: bold}

DIV.Footnote
{font-family: Garamond, Palatino, "Times New Roman", serif;
font-size: 12px;
line-height: 120%}

P
{display: block;
line-height: 24px;
white-space: normal}

P.ListSimple, P.FM-HTML
{margin-bottom: 0px;
margin-left: 25px;
margin-right: 0px;
margin-top: 0px}

P.CellBody
{padding: 5px}

P.CellBodyCode
{padding: 5px;
font-family: Courier, "Courier New", monospace;
font-size: 14px}

TD
{vertical-align: top}

H1.ChapterLabel, H2.ChapterLabel, H3.ChapterLabel, H4.ChapterLabel, H5.ChapterLabel, H6.ChapterLabel, H1.SectionLabel, H2.SectionLabel, H3.SectionLabel, H4.SectionLabel, H5.SectionLabel, H6.SectionLabel, H1.ChapterLabelLeft, H2.ChapterLabelLeft, H3.ChapterLabelLeft, H4.ChapterLabelLeft, H5.ChapterLabelLeft, H6.ChapterLabelLeft
{display: block;
font-size: 96px;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 18px;
margin-top: 12px;
text-align: right;
white-space: normal}

H1.ChapterTitle, H2.ChapterTitle, H3.ChapterTitle, H4.ChapterTitle, H5.ChapterTitle, H6.ChapterTitle, H1.SectionTitle, H2.SectionTitle, H3.SectionTitle, H4.SectionTitle, H5.SectionTitle, H6.SectionTitle, H1.ChapterTitleLeft, H2.ChapterTitleLeft, H3.ChapterTitleLeft, H4.ChapterTitleLeft, H5.ChapterTitleLeft, H6.ChapterTitleLeft
{display: block;
font-size: 24px;
font-style: italic;
font-weight: bold;
line-height: normal;
margin-bottom: 100px;
margin-left: 0px;
margin-right: 18px;
margin-top: 12px;
text-align: right;
white-space: normal}

H1.HeadA, H2.HeadA, H3.HeadA, H4.HeadA, H5.HeadA, H6.HeadA, H1.FM-HeadA, H2.FM-HeadA, H3.FM-HeadA, H4.FM-HeadA, H5.FM-HeadA, H6.FM-HeadA, H1.RefName, H2.RefName, H3.RefName, H4.RefName, H5.RefName, H6.RefName
{display: block;
font-size: 18px;
font-style: italic;
font-weight: bold;
margin-bottom: 6px;
margin-left: 0px;
margin-right: 0px;
margin-top: 24px;
text-align: left;
white-space: normal}

H1.HeadB, H2.HeadB, H3.HeadB, H4.HeadB, H5.HeadB, H6.HeadB
{display: block;
font-size: 16px;
font-style: italic;
font-weight: bold;
margin-bottom: 6px;
margin-left: 0px;
margin-right: 0px;
margin-top: 24px;
text-align: left;
white-space: normal}

P.RefName
{display: block;
font-size: 16px;
font-style: italic;
font-weight: bold;
margin-bottom: 6px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
text-align: left;
white-space: normal}

H1.HeadC, H2.HeadC, H3.HeadC, H4.HeadC, H5.HeadC, H6.HeadC
{display: block;
font-size: 14px;
font-style: italic;
font-weight: bold;
margin-bottom: 6px;
margin-left: 0px;
margin-right: 0px;
margin-top: 24px;
text-align: left;
white-space: normal}

PRE.Code, PRE.CodeIndent, PRE.FM-ListSimpleCode
{display: block;
font-family: Courier, "Courier New", monospace;
font-size: 14px;
line-height: normal;
margin-bottom: 0px;
margin-left: 18px;
margin-right: 0px;
margin-top: 0px;
white-space: pre}

PRE.FM-CodeIndent
{display: block;
font-family: Courier, "Courier New", monospace;
font-size: 14px;
line-height: normal;
margin-bottom: 0px;
margin-left: 42px;
margin-right: 0px;
margin-top: 0px;
white-space: pre}

TT
{font-family: Courier, "Courier New", monospace;
font-size: 14px;
font-style: normal;
font-weight: normal}

BLOCKQUOTE.NoteTip, BLOCKQUOTE.NoteWarning, BLOCKQUOTE.Note
{display: block;
margin-bottom: 3px;
margin-left: 36px;
margin-top: 8px;
white-space: normal;
width: 400px}

BLOCKQUOTE.FM-QuoteSeparation
{text-align: center}

LI.ListBullet
{display: list-item;
line-height: 24px;
list-style-type: disc;
margin-bottom: 12px;
margin-left: 0px;
margin-right: 12px;
margin-top: 12px}

LI.ListBullet-
{display: list-item;
line-height: 24px;
list-style-type: none;
margin-bottom: 12px;
margin-left: 0px;
margin-right: 12px;
margin-top: 12px}

LI.ListNumber, LI.ListNumberStart
{display: list-item;
line-height: 24px;
list-style-type: none;
margin-bottom: 12px;
margin-left: 0px;
margin-right: 12px;
margin-top: 12px}

LI.FM-ListNumber, LI.FM-ListNumberStart
{display: list-item;
line-height: 24px;
list-style-type: none;
margin-bottom: 12px;
margin-left: 24px;
margin-right: 12px;
margin-top: 12px}

CAPTION
{line-height: normal;
margin-bottom: 12px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
text-align: left}

P.ListVariableTerm, P.ListVariableTermRunin
{font-style: italic;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 12px}

P.FM-ListVariableTerm
{font-style: italic;
margin-bottom: 0px;
margin-left: 25px;
margin-right: 0px;
margin-top: 12px}

BLOCKQUOTE.ListVariable, .ListVariable-
{line-height: 24px;
margin-bottom: 10px;
margin-left: 25px;
margin-right: 0px;
margin-top: 12px}

BLOCKQUOTE.FM-ListVariable
{line-height: 24px;
margin-bottom: 0px;
margin-left: 50px;
margin-right: 0px;
margin-top: 12px}

/*
     FILE ARCHIVED ON 12:03:53 Aug 07, 2004 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:43:03 Aug 08, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.66
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.01
  esindex: 0.016
  cdx.remote: 97.445
  LoadShardBlock: 144.839 (3)
  PetaboxLoader3.datanode: 133.753 (4)
  PetaboxLoader3.resolve: 188.633 (2)
  load_resource: 229.897
*/